---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Sept 2024 - Present",
    title: "Technology Assistance - Simmons University",
    bulletPoints: ["Provided Tier 1 IT support through walk-ups and remote sessions via Bomgar, assisting faculty and staff with technical issues, ensuring timely issue resolution and minimal downtime.", 
    "Imaged and prepared computers for deployment to Simmons faculty and staff, ensuring devices were properly configured and ready for use.",
    "Managed AV equipment setup, testing, and event support, ensuring seamless audio and media technology operations, enhancing classroom and event experiences."],
    description:
      "Technology Assistant in the Technology Services and Support department, collaborating with a team of 8+ full-time technology support professionals to deliver high-quality technical and media assistance to Simmons students, faculty, and staff.",
  },
  {
    date: "Jul 2024 - Sept 2024",
    title: "Software Engineer Fellowship - Headstarter AI",
    bulletPoints: ["Developed 5+ AI apps using NextJS, TypeScript, OpenAI, Pinecone, Stripe and Firebase, achieving a cumulative user base of 700+ active users with an average engagement rate of 64.5%.", 
    "Applied LLM techniques such as RAG by using Pinecone and LangChain, and enhanced application functionalities through CRUD.",
    "Coached by engineers from Amazon, Bloomberg, and Capital One on Agile, CI/CD, Git and microservice patterns."],
    description:
      "Developed 5+ AI apps using NextJS, TypeScript, OpenAI, Pinecone, Stripe and Firebase, achieving a cumulative user base of 700+ active users",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
