---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Sept 2024 - Present",
    title: "Technology Assistance - Simmons University",
    bulletPoints: ["Provided Tier 1 IT support through walk-ups and remote sessions via Bomgar, assisting faculty and staff with technical issues, ensuring timely issue resolution and minimal downtime.", 
    "Imaged and prepared computers for deployment to Simmons faculty and staff, ensuring devices were properly configured and ready for use.",
    "Managed AV equipment setup, testing, and event support, ensuring seamless audio and media technology operations, enhancing classroom and event experiences."],
    description:
      "Technology Assistant in the Technology Services and Support department, collaborating with a team of 8+ full-time technology support professionals to deliver high-quality technical and media assistance to Simmons students, faculty, and staff.",
  },
  {
    date: "Jul 2024 - Sept 2024",
    title: "Software Engineer Fellowship - Headstarter AI",
    bulletPoints: ["Provided Tier 1 IT support through walk-ups and remote sessions via Bomgar, assisting faculty and staff with technical issues, ensuring timely issue resolution and minimal downtime.", 
    "Imaged and prepared computers for deployment to Simmons faculty and staff, ensuring devices were properly configured and ready for use.",
    "Managed AV equipment setup, testing, and event support, ensuring seamless audio and media technology operations, enhancing classroom and event experiences."],
    description:
      "Built 5+ AI apps and APIs using NextJS, openAI, Pinecone, stripe API with 98% accuracy as seen by 1000+ users",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
